.card {
  box-shadow: rgba(49, 53, 59, 0.12);
  border-radius: 12px;
  overflow: hidden;
}

.card-body {
  padding: 12px;
}

.form-select {
  width: 150px;
}

.row span {
  font-size: 12px;
}

.wrap {
  margin-top: 100px;
  cursor: pointer;
}

.wrap span{
  font-size: 14px;
  color: #989898;
  padding-left: 5px;
}

.product {
  border-bottom: 3px solid #03ac0e;
}

.linkTo{
  text-decoration: none;
  color: #989898;
}

.linkTo:hover{
  text-decoration: none;
  color: #989898;
}

.imgCard {
  height: 220px;
}
