.path {
  padding-top: 20px;
}

.path ul{
  margin: 0px 68px 10px;
  height: 60px;
}

.path ul > li {
  display: flex;
  align-items: center;
  color: #03ac0e;
}

.path ul > li img {
  height: 10px;
  padding: 0px 4px;
  margin: 0px 8px;
  opacity: .3;
}

.product-detail {
  margin-top: 100px;
  padding-bottom: 40px;
}

.product-detail-wrapper {
  display: flex;
  margin-bottom: 10px;
  /* flex-direction: column; */
}

.product-img {
  width: 446px;
  position: sticky;
  top: 100px;
  left: 100px;
  border-radius: 12px;
  overflow: hidden;
}
/* .product-img-wrapper {
  position: sticky;
  top: 100px;
  left: 40px;
} */
.img-primary {
  width: 446px;
  height: 446px;
  /* overflow: hidden; */
}

.img-primary img {
  width: 100%;
  cursor: crosshair;
  border-radius: 12px;
}


.img-part img{
  border-radius: 12px;

}
.img-part {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-top: .8px solid rgba(0, 0, 0, 0.163);
}

.img-part .img{
  width: 72px;
  height: 72px;
  margin: 8px;
}

.img-part .img img{
  cursor: pointer;
  width: 100%;
}

.img-part .img img:hover{
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* padding-left: 60px; */
  line-height: normal;
  margin-left: 200px;
  }

.product-detail-info .label-store{
  margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.product-detail-info .label-store img{
  height: 16px;
}

.product-detail-info .label-store span{
  margin-left: 6px;
  font-size: 12px;
  font-weight: 700;
  color: #7A08C9;
}

.product-name {
  margin: 12px 0;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 800;
  color: #31353B;
}
  .product-score {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

.product-score p {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

.product-score strong {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
}

.product-score .score {
  display: flex;
  align-items: center;
}

.product-score .dot {
      margin: 0 6px;
      font-size: 12px;
      font-weight: 800;
      /* display: flex;
        align-items: center; */
    }

.product-score .score .stars{
        margin: 0 3px;
        display: flex;
        align-items: center;
    }

    .product-score .score .stars img{
      height: 17px;
    
  }

  .product-guarantee {
    margin: 14px 0 20px;
    display: flex;
    align-items: center;

  }

.product-guarantee .ready, .original, .guarantee{
  display: flex;
      align-items: center;
      margin-right: 16px;
}

.product-guarantee .ready, .original, .guarantee span{
  color: rgb(125, 125, 125);
}

.product-guarantee img{
  margin-right: 4px;
      height: 18px;
}

.detail-group {
  display: flex;
  padding: 20px 0;
  border-top: .8px solid rgba(0, 0, 0, 0.163);
}

.left-header {
  width: 70px;
}
.left-header 
  p {
    color: rgba(0, 0, 0, 0.258);
    font-weight: bold;
  }


.right-description {
  padding-left: 20px;
}

.price-guarantee {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.price-guarantee img {
  height: 18px;
  margin-right: 4px;
}

.price-guarantee span {
  color: rgba(0, 0, 0, .5);
}

/* .amount-buy{
  border-bottom: .8px solid rgba(0, 0, 0, 0.163); ;
} */

.amount-buy .counter-label {
    margin-bottom: 10px;
}

.amount-buy .counter-box {
  display: flex;
  align-items: center;
}

.amount-buy .counter-box img {
  height: 20px;
  cursor: pointer;
}

.amount-buy .counter-box input {
  outline: none;
  font-size: 16px;
  line-height: 22px;
  width: 70px;
  padding-bottom: 3px;
  text-align: center;
  border: none;
  border-bottom: .8px solid rgba(0, 0, 0, 0.115);
}

.btn{
  border-radius: 15px;
  outline: #03ac0e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;

}

.variant {
  border-bottom: .8px solid rgba(0, 0, 0, 0.163);
}

.navbar-bottom-wrapper {
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 75%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.163);
  border-radius: 25px 25px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  }

.navbar-bottom-wrapper button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
}

.btn-keranjang {
  background-color: #DC4E1A;
    border: none;
    color: white;
}

#modal {
  z-index: 9999999;
  top: 200px;
}

.itemModal{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.163);
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}